<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a href="{% url 'blog_list_category' 'Mental Health' %}" class="">
        <div class="card category-card">
            <img src="https://th.bing.com/th/id/OIP.dfo_iqMN6FAp1g2vQu2UVAHaEK?rs=1&pid=ImgDetMain" class="card-img-top" alt="Mental Health">
            <div class="card-body">
                <h5 class="card-title">Mental Health</h5>
            </div>
        </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a href="{% url 'blog_list_category' 'Heart Disease' %}" class="">
        <div class="card category-card">
            <img src="https://media.clinicaladvisor.com/images/2017/03/29/heartillustrationts51811362_1191108.jpg" class="card-img-top" alt="Heart Disease">
            <div class="card-body">
                <h5 class="card-title">Heart Disease</h5>
            </div>
        </div>
    </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a href="{% url 'blog_list_category' 'Covid19' %}" class="">
        <div class="card category-card">
            <img src="https://www.emeraldgrouppublishing.com/sites/default/files/image/covid-cells.jpg" class="card-img-top" alt="Covid19">
            <div class="card-body">
                <h5 class="card-title">Covid19</h5>
            </div>
        </div>
    </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a href="{% url 'blog_list_category' 'Immunization' %}" class="">
        <div class="card category-card">
            <img src="https://stjoseph.stlukeshealth.org/content/dam/stjoseph-stlukeshealth/images/shutterstock-1060328165-min.jpg/_jcr_content/renditions/cq5dam.web.1440.405.jpeg" class="card-img-top" alt="Immunization">
            <div class="card-body">
                <h5 class="card-title">Immunization</h5>
                
            </div>
        </div>
        </a>
    </div>
</div>